* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
}

body .container {
  display: block;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body .container header {
  height: 185px;
  width: 100%;
  padding: 54px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body .container header img {
  margin-top: 30px;
}

body .container header .description {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: center;
  color: #898f8f;
}

body .container header .name {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.1;
  text-align: center;
  color: #ffcc00;
}

body .container .slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

body .container .slider .fa-angle-left,
body .container .slider .fa-angle-right {
  font-family: "FontAwesome";
  font-size: 40px;
  line-height: 0.6;
  text-align: center;
  color: #ffcc00;
  margin: 0 20px;
}

body .container .slider .icon-divider {
  display: block;
  margin: 0 auto 40px;
  width: 450px;
}

body .container .slider .slide {
  flex: 1;
}

body .container .slider .slide .content {
  display: flex;
  justify-content: space-between;
  height: 550px;
  align-items: center;
}

body .container .slider .slide .content .wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 410px;
  width: 410px;
}

body .container .slider .slide .content .wrapper .cool-border {
  height: 410px;
  width: 410px;
  background-image: linear-gradient(to right, #ffcc00 25%, transparent 25%, transparent 75%, #ffcc00 75%, #ffcc00 100%), linear-gradient(to right, #ffcc00 25%, transparent 25%, transparent 75%, #ffcc00 75%, #ffcc00 100%), linear-gradient(to bottom, #ffcc00 25%, transparent 25%, transparent 75%, #ffcc00 75%, #ffcc00 100%), linear-gradient(to bottom, #ffcc00 25%, transparent 25%, transparent 75%, #ffcc00 75%, #ffcc00 100%);
  background-position: left top, left bottom, left top, right top;
  background-size: 410px 1px, 410px 1px,1px 410px, 1px 410px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  position: absolute;
}

body .container .slider .slide .content .wrapper .img-wrapper {
  width: 385px;
  height: 385px;
  background: url("../img/img1.png");
  background-size: cover;
  border: 1px solid #ffcc00;
}

body .container .slider .slide .content .wrapper .txt-wrapper h3 {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 0.67;
  letter-spacing: 0.7px;
  text-align: center;
  color: #666666;
}

body .container .slider .slide .content .wrapper .txt-wrapper a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #666666;
  border: 1px solid #ffcc00;
  padding: 6px 12px;
  text-decoration: none;
  display: block;
  width: 131px;
  margin: 0 auto;
  text-align: center;
}

body .container .slider .slide .content .wrapper .txt-wrapper .small-divider {
  width: 100px;
  height: 1px;
  background-color: #ffcc00;
  display: block;
  margin: 34px auto;
}

body .container .slider .slide .content .wrapper .txt-wrapper h4 {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #666666;
}

body .container .slider .slide .content .wrapper .txt-wrapper .divider-img {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

body .container .slider .slide .content .wrapper .txt-wrapper .divider-img img {
  margin: 0 5px;
}

body .container .slider .slide .content .wrapper .txt-wrapper p {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  text-align: center;
  color: #333333;
}

body .container .slider .slide .content .wrapper .txt-wrapper .small-divider-img {
  display: block;
  margin: 22px auto;
}

body .container .slider .slide .content .divider-line {
  width: 1px;
  height: 560px;
  background-color: #ffcc00;
  position: relative;
  display: block;
}

body .container .slider .slider-nav {
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 0 95px;
}

body .container .slider .slider-nav span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 4.5px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #ffcc00;
  cursor: pointer;
}

body .container .slider .slider-nav span:hover {
  border: none;
  background-color: #ffcc00;
}

body .container .nav {
  display: inline-block;
  float: right;
  padding: 4px 0 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
